* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

a {
	text-decoration: none;
}

ul,li {
	list-style: none;
}

img {
	border: none;
}

#print-content {
	width: 98%;
	margin: 10px auto;
}

#print-content h1 {
	font-size: 24px;
	text-align: center;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.headInfo {
	margin: 0 auto;
	text-align: left;	
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #000;
}

.tableTopBorder_3 {
	border-top: 3px solid #000;
}

td,th {
	border: 1px solid #000;
	text-align: center;
	padding: 3px 5px;
}

.signatureArea {
	height: 25px;
	line-height: 25px;
}
.signatureArea .firstSpan{
	margin-right:200px;
}
#print-content .header{ height:50px; position:relative;}
#print-content .header h1{ padding-top:10px;}
.printTm{ position:absolute; left:0px;  top:0px;}

.top_table_print {
	
}
.top_table_print tr td {
	text-align: left;
	padding: 8px 10px;
	border: 1px #222 solid;
	font-size: 14px;
}
.img_p_div {
	float: left;
}
.img_p_div > span {
	display: block;
	margin-bottom: 5px;
}
@media print
{
	.pageBreak {page-break-after:always;}
	.noPrint{
		display:none;
	}
}

.top_table_print_change tr td {
	padding: 2px 5px;
	font-size: 12px;
}
.top_table_print_change tr:first-child td{
	font-size: 14px;
	padding: 8px 10px;
}



























