
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1501560191510'); /* IE9*/
  src: url('iconfont.eot?t=1501560191510#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1501560191510') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1501560191510') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1501560191510#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifeiji:before { content: "\e60f"; }

.icon-shanchu:before { content: "\e600"; }

.icon-delete:before { content: "\e654"; }

.icon-iconjia:before { content: "\e61f"; }

.icon-tianjia:before { content: "\e61e"; }

.icon-leimu:before { content: "\e728"; }

.icon-logout:before { content: "\e64b"; }

.icon-chulizhong2:before { content: "\e647"; }

.icon-dingdan3:before { content: "\e672"; }

.icon-iconchulizhong01:before { content: "\e617"; }

.icon-setting:before { content: "\e626"; }

.icon-guanbi:before { content: "\e61a"; }

.icon-leimu1:before { content: "\e720"; }

.icon-huolisongbitebijiaoyi:before { content: "\e64c"; font-size: 26px;}

.icon-gongyingshang:before { content: "\e624"; }

.icon-dengfahuo:before { content: "\e608"; }

.icon-160:before { content: "\e637"; }

.icon-yifahuo:before { content: "\e623"; }

.icon-0:before { content: "\e63b"; }

.icon-chenggong:before { content: "\e63e"; }

.icon-wenzhang:before { content: "\e6ac"; }

.icon-shoukuan:before { content: "\e65b"; }

.icon-dingdan:before { content: "\e67c"; }

.icon-iconfont31quanbushangpin:before { content: "\e601"; }

.icon-yiwancheng:before { content: "\e8fc"; }

.icon-star:before { content: "\e680"; }

.icon-article:before { content: "\e749"; }

.icon-cuxiao:before { content: "\e606"; }

.icon-weichuli-:before { content: "\e674"; }

.icon-huiyuanguanli:before { content: "\e610"; }

.icon-yifahuo1:before { content: "\e602"; }

